
.nav {
 animation: fadeIn 3s;
 background-color: var(--global-main-bg-color); 
 position: fixed;
 width: 100%;
 display: flex;
 padding-top: 10px;
 padding-bottom: 10px;
 z-index: 1;
}

.navAuthorName{
    padding-left: 5%;
    padding-right: 5%;
    justify-content: start;
    flex: 2;
    color: var(--global-accent-text-color);
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
}
.navItems {
    flex: 1;
    margin: auto;
    display: flex;
    color: black;
    justify-content:flex-end;
}

.navText {
    padding-left: 3%;
    padding-right: 3%;
    color: var(--global-main-text-color);
    text-decoration: none;
}

.navText:visited {
    color: var(--global-main-text-color);
    text-decoration: none;
}

.navText:hover{
    color: var(--global-accent-text-color);
}

@media (max-width: 800px){
    .navItems {
        font-size: 10pt;
    }
    .navAuthorName{
        display: none;
    }
}
